@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  background-color: #020617;
}

html:not(.dark) {
  background-color: #e2e8f0;
  font-family: 'Inter', sans-serif;
}

body {
  background: transparent;
}

html {
  scroll-behavior: smooth;
}
